# Classifying

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [47]:
df=pd.read_csv("NYCdata.csv", index_col=0)

In [48]:
df.head()

,CensusTract,County,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,NoIns18ab
0,36005000200,Bronx,Bronx,5403,2659,2744,75.8,2.3,16.0,0.0,...,2.9,0.0,0.0,2308,80.8,16.2,2.9,0.0,7.7,9.6
1,36005000400,Bronx,Bronx,5915,2896,3019,62.7,3.6,30.7,0.0,...,1.4,0.5,2.1,2675,71.7,25.3,2.5,0.6,9.5,7.5
2,36005001600,Bronx,Bronx,5879,2558,3321,65.1,1.6,32.4,0.0,...,8.6,1.6,1.7,2120,75.0,21.3,3.8,0.0,8.7,9.9
3,36005001900,Bronx,Bronx,2591,1206,1385,55.4,9.0,29.0,0.0,...,3.0,2.4,6.2,1083,76.8,15.5,7.7,0.0,19.2,20.8
4,36005002000,Bronx,Bronx,8516,3301,5215,61.1,1.6,31.1,0.3,...,4.3,1.0,0.0,2508,71.0,21.3,7.7,0.0,17.2,11.1

In [49]:
df.columns

Index(['CensusTract', 'County', 'Borough', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Citizen', 'Income',
       'IncomePerCap', 'Poverty', 'ChildPoverty', 'Professional', 'Service',
       'Office', 'Construction', 'Production', 'Drive', 'Carpool', 'Transit',
       'Walk', 'OtherTransp', 'WorkAtHome', 'Employed', 'PrivateWork',
       'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment',
       'NoIns18ab'],
      dtype='object')

In [63]:
df.dtypes

CensusTract       int64
County           object
Borough          object
TotalPop          int64
Men               int64
Women             int64
Hispanic        float64
White           float64
Black           float64
Native          float64
Asian           float64
Citizen           int64
Income          float64
IncomePerCap    float64
Poverty         float64
ChildPoverty    float64
Professional    float64
Service         float64
Office          float64
Construction    float64
Production      float64
Drive           float64
Carpool         float64
Transit         float64
Walk            float64
OtherTransp     float64
WorkAtHome      float64
Employed          int64
PrivateWork     float64
PublicWork      float64
SelfEmployed    float64
FamilyWork      float64
Unemployment    float64
NoIns18ab       float64
County_code       int64
Borough_code      int64
poverty           int64
dtype: object

In [51]:
df["County"].value_counts()

Kings       750
Queens      650
Bronx       335
New York    281
Richmond    108
Name: County, dtype: int64

In [52]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
df["County_code"] = lb_make.fit_transform(df["County"])
df[["County", "County_code"]].head(11)

   County  County_code
0   Bronx            0
1   Bronx            0
2   Bronx            0
3   Bronx            0
4   Bronx            0
5   Bronx            0
6   Bronx            0
7   Bronx            0
8   Bronx            0
9   Bronx            0
10  Bronx            0

In [53]:
df["Borough_code"] = lb_make.fit_transform(df["Borough"])
df[["Borough", "Borough_code"]].head(11)

   Borough  Borough_code
0    Bronx             0
1    Bronx             0
2    Bronx             0
3    Bronx             0
4    Bronx             0
5    Bronx             0
6    Bronx             0
7    Bronx             0
8    Bronx             0
9    Bronx             0
10   Bronx             0

In [54]:
df["Borough"].value_counts()

Brooklyn         750
Queens           650
Bronx            335
Manhattan        281
Staten Island    108
Name: Borough, dtype: int64

In [55]:
df["County_code"].value_counts()

1    750
3    650
0    335
2    281
4    108
Name: County_code, dtype: int64

In [58]:
#df["Poverty"]=(df.Poverty)/np.mean(df["Poverty"])
mean=np.mean(df["Poverty"])
l=list()
for i in df["Poverty"]:
    if(i>=mean):
        l.append(0)
    else:
        l.append(1)

In [60]:
df["poverty"]=l

In [62]:
df["poverty"].value_counts()

1    1239
0     885
Name: poverty, dtype: int64

In [65]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
X=df[['CensusTract', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Citizen', 'Income',
       'IncomePerCap', 'ChildPoverty', 'Professional', 'Service',
       'Office', 'Construction', 'Production', 'Drive', 'Carpool', 'Transit',
       'Walk', 'OtherTransp', 'WorkAtHome', 'Employed', 'PrivateWork',
       'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment',
       'NoIns18ab','Borough_code','County_code']]
y=df['poverty']           
std_scaler.fit(X)
scaled_X=std_scaler.transform(X)
final_X=pd.DataFrame(scaled_X,columns=['CensusTract', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Citizen', 'Income',
       'IncomePerCap', 'ChildPoverty', 'Professional', 'Service',
       'Office', 'Construction', 'Production', 'Drive', 'Carpool', 'Transit',
       'Walk', 'OtherTransp', 'WorkAtHome', 'Employed', 'PrivateWork',
       'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment',
       'NoIns18ab','Borough_code','County_code'])

In [66]:
data=[]
target=[]
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=0)

In [69]:
# Let's Try Logistic Regression
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.linear_model import LogisticRegression
lgrm=LogisticRegression()
lgrm.fit(x_train,y_train)
preds=lgrm.predict(x_test)
print(classification_report(y_test,preds))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       223
           1       0.58      1.00      0.73       308

    accuracy                           0.58       531
   macro avg       0.29      0.50      0.37       531
weighted avg       0.34      0.58      0.43       531

/home/arpit/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [74]:
lgrm.score(x_test,y_test)

0.5800376647834274

In [ ]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(x_train, y_train)

In [ ]:
y_pred = svclassifier.predict(x_train)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))